.App {
  text-align: center;
}

.form-search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.form-search label{
  margin-right: 1rem;
  font-size: 18px;
  font-weight: 500;
}

input[type=search]{
  padding: 1rem 3rem;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}